* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif; 
    background:navy;
    font-weight: 400;
}
.container {
    margin: auto;
    max-width: 680px;
    background: plum;
    border-radius: 10px;
    padding: 20px;
}
header {
    text-align: center;
    font-size: smaller;
}
.survey-form {
    margin-top: 40px;
    margin-left: 20px;
}

.form-group {
    margin-top: 20px;
    margin-right: 20px; 
    padding: 5px;
}

#name, #email, #number {
    width: 100%;
    line-height: 15px;
    border-radius: 5px;
    padding: 10px;
}
#dropdown {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button {
    width: 150px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.submit-button:hover {
    animation-name: bright;
    animation-duration: 50ms;
    animation-fill-mode: forwards;
}
@keyframes bright {
    0%, 100% {/* Animation has the same starting and ending properties */
        background: greenyellow;
    }
}
input:focus {
    border: 2px solid blue;
}
textarea {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    line-height: 20px;
    resize: vertical;
}
textarea:focus {
    border: 2px solid blue;
}